In [1]:
##import fundemental module
import numpy as np
import pandas as pd
import os
import sys

In [2]:
# 设置为项目根目录（包含 data, pipline 等文件夹的目录）
project_root = os.path.abspath("..")
os.chdir(project_root)
sys.path.append(project_root)
from utils.path_helper import get_data_path

In [4]:
##different intake from four groups
Amatrix = pd.read_csv(get_data_path(("four-group-plus.csv")))
Amatrix.head(3)

,Dimension,Meat,Fish,Vegetarian,Veg,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,Unnamed: 17,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21
0,Red meat,9.353233831,0.20661157,0.211864407,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Processed meat,4.577114428,0.20661157,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Poultry,6.567164179,0,0,0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#different intake from 13 regions
Bmatrix = pd.read_csv(get_data_path("13locals.csv"))
Bmatrix.head(3)

,Region,Dairy milk,Cheese,Yogurt,Red meat,Processed meat,Poultry,Fish,Eggs,Fats,...,Vegetables,Fruit,Bread,Flour,Cakes & pastries,Biscuits,Cereals,Soft drinks,Confectionery,Alcoholic drinks
0,North East,2.622110,0.772865,0.916800,1.595795,1.855502,1.336087,0.826058,0.200257,0.600770,...,4.668481,3.301105,1.861760,0.153321,0.666479,0.610157,2.493820,3.200976,0.488125,2.318596
1,North West,4.967324,0.508986,0.358175,1.684052,1.039965,1.055674,0.688073,0.377027,0.342466,...,8.058942,4.034184,2.149051,0.109966,0.776046,0.518411,1.850572,4.445771,0.486993,2.815131
2,Yorks & The Humber,3.989465,0.829019,0.649448,1.646066,1.340795,1.125311,0.894861,0.332206,0.502798,...,7.532996,3.046718,1.271960,0.089785,0.523748,0.730255,1.810672,4.052315,0.532727,2.163828

 look the consume from sources ("result.csv")

In [8]:
df = pd.read_csv(get_data_path("result.csv"))
##the average consume between different sources
start = df.columns.get_loc("mean_ghgs")
end = df.columns.get_loc("mean_acid") + 1  # +1 the slice does not include the 
for col in df.columns[start:end]:
    df[col] = df[col].astype("float")
    print(f"{col} average-value: {df[col].mean()}")


start = df.columns.get_loc("mean_ghgs")
end = df.columns.get_loc("mean_acid") + 1  # +1 
for col in df.columns[start:end]:
    df[col] = df[col].astype("float")
    print(f"{col} average-vaule: {df.groupby('diet_group')[col].mean( )}")

mean_ghgs average-value: 6.681694853621374
mean_land average-value: 11.588848043123335
mean_watscar average-value: 19594.320647750723
mean_eut average-value: 26.61536252802433
mean_ghgs_ch4 average-value: 1.2437406342980695
mean_ghgs_n2o average-value: 0.4751559632122777
mean_bio average-value: 297.66641669530605
mean_watuse average-value: 793.1173806586611
mean_acid average-value: 29.68478676969955
mean_ghgs average-vaule: diet_group
fish        5.452489
meat        7.937179
meat100    13.624876
meat50      5.766550
vegan       2.551045
veggie      4.758030
Name: mean_ghgs, dtype: float64
mean_land average-vaule: diet_group
fish        7.319218
meat       13.692233
meat100    28.558030
meat50      8.607969
vegan       4.433825
veggie      6.921814
Name: mean_land, dtype: float64
mean_watscar average-vaule: diet_group
fish       19709.243846
meat       20485.836984
meat100    27061.571592
meat50     17878.297107
vegan      15083.835327
veggie     17347.139031
Name: mean_watscar, dtype: float64
mean_eut average-vaule: diet_group
fish       23.065932
meat       31.951860
meat100    50.675963
meat50     23.974645
vegan      11.202768
veggie     18.821007
Name: mean_eut, dtype: float64
mean_ghgs_ch4 average-vaule: diet_group
fish       0.916255
meat       1.579330
meat100    2.910919
meat50     1.083654
vegan      0.148856
veggie     0.823430
Name: mean_ghgs_ch4, dtype: float64
mean_ghgs_n2o average-vaule: diet_group
fish       0.359165
meat       0.563690
meat100    0.998758
meat50     0.394361
vegan      0.214003
veggie     0.320958
Name: mean_ghgs_n2o, dtype: float64
mean_bio average-vaule: diet_group
fish       274.857505
meat       339.617912
meat100    507.346225
meat50     274.592299
vegan      122.011847
veggie     267.572713
Name: mean_bio, dtype: float64
mean_watuse average-vaule: diet_group
fish        845.594953
meat        914.769192
meat100    1172.172206
meat50      782.329001
vegan       443.401156
veggie      600.437776
Name: mean_watuse, dtype: float64
mean_acid average-vaule: diet_group
fish       25.515540
meat       35.725884
meat100    55.798517
meat50     27.016860
vegan      11.281311
veggie     22.770609
Name: mean_acid, dtype: float64

In [9]:
start = df.columns.get_loc("mean_ghgs")
end = df.columns.get_loc("mean_acid") + 1  # include the final

mean_table = {}

for col in df.columns[start:end]:
    df[col] = df[col].astype(float)
    group_means = df.groupby("diet_group")[col].mean()
    mean_table[col] = group_means

# 转置为行=指标，列=群体
mean_df = pd.DataFrame(mean_table).T

# 可选：重新排序列
mean_df = mean_df[["meat", "meat50", "meat100", "fish", "vegan", "veggie"]]

# 导出为 Excel 文件
mean_df.to_excel("nutrition_means_by_group.xlsx")

Make the final results of my_excel

In [14]:
import pandas as pd

# 地区饮食占比
diet_data = {
    "Region": [
        "North East", "North West", "Yorks & The Humber", "East Midlands", "West Midlands",
        "East", "London", "South East", "South West", "England", "Wales", "Scotland",
        "Northern Ireland", "UK Avg"
    ],
    "Meat": [0.771793097, 0.75903844, 0.761069004, 0.757743582, 0.76579704,
             0.763067965, 0.758907019, 0.769697407, 0.758392261, 0.775656761,
             0.771221632, 0.751686431, 0.762599759, 0.763313473],
    "Fish": [0.02409238, 0.022937129, 0.023520846, 0.02098385, 0.025193132,
             0.02453087, 0.02356482, 0.02342998, 0.022683812, 0.02457872,
             0.024997414, 0.020366227, 0.02176859, 0.023272867],
    "Vegetarian": [0.090511858, 0.093955719, 0.093557984, 0.094166223, 0.093188937,
                   0.094564057, 0.09389881, 0.092295493, 0.094331812, 0.090802915,
                   0.091724495, 0.096520607, 0.09339611, 0.093363246],
    "Veg": [0.113602665, 0.124068712, 0.121852166, 0.127106346, 0.115820891,
            0.117829909, 0.123629351, 0.114577119, 0.124592115, 0.108961604,
            0.112056459, 0.131426735, 0.12292041, 0.120050414]
}

# 单位食物资源消耗
resource_data = {
    "Indicator": [
        "mean_ghgs", "mean_land", "mean_watscar", "mean_eut", "mean_ghgs_ch4",
        "mean_ghgs_n2o", "mean_bio", "mean_watuse", "mean_acid"
    ],
    "Fish": [5.452488592, 7.319217659, 19709.24385, 23.06593219, 0.916255299, 0.359164772, 274.8575051, 845.5949529, 25.51553967],
    "Veg": [2.551044627, 4.433824902, 15083.83533, 11.20276786, 0.148856223, 0.21400349, 122.0118466, 443.4011565, 11.28131132],
    "Vegetarian": [4.758030222, 6.921813614, 17347.13903, 18.821007, 0.823429771, 0.320958226, 267.572713, 600.4377756, 22.77060883],
    "Meat": [9.109535227, 16.95274403, 21808.56856, 35.53415604, 1.857967504, 0.652269764, 373.8521462, 956.4234663, 39.5137536]
}

# 转成DataFrame
df_diet = pd.DataFrame(diet_data)
df_resource = pd.DataFrame(resource_data)

# 最终结果表
final = pd.DataFrame()
final["Region"] = df_diet["Region"]

# 对每一个资源指标计算
for idx, row in df_resource.iterrows():
    indicator = row["Indicator"]
    # 计算加权平均
    final[indicator] = (
        df_diet["Meat"] * row["Meat"] +
        df_diet["Fish"] * row["Fish"] +
        df_diet["Veg"] * row["Veg"] +
        df_diet["Vegetarian"] * row["Vegetarian"]
    )

# 保存成Excel
final.to_excel("UK_Region_Resource_Consumption.xlsx", index=False)
print("✅ 成功生成文件：UK_Region_Resource_Consumption.xlsx")

✅ 成功生成文件：UK_Region_Resource_Consumption.xlsx